footer
  .container.text-center
    p.pull-left Made by Dennis. If anything is broken, ask him, but it's probably a feature.
    ul.pull-right.list-inline
      li
        a(href='https://www.pivotaltracker.com/n/projects/1141286') Issues